a.button.button-secondary.alignright{
    background: #000000;
}
.control-section-automobile-hub h3.accordion-section-title {
    padding: 15px;
    border-left: none !important;
    border-right: none !important;
    color: #f5b900 !important;
}
#accordion-section-automobile_hub_section_pro a.button.button-secondary.alignright,
#accordion-section-automobile_hub_documentation a.button.button-secondary.alignright{
    background: #f5b900;
}